version: "3.8"

services:
  app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - /home/user/golog:/app/data
    restart: unless-stopped  
    networks:
      - mynet

networks:
  mynet:
    driver: bridge